.main {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 991px) {

  .box-content{
    width: 960px;
  }

}

@media screen and (max-width: 990px) {

  .box-content{
    width: 616px;
  }

}
@media screen and (max-width: 719px) {

  .box-content{
    width: 500px;
  }

}


@media screen and (max-width: 519px) {

  .box-content{
    width: 284px;
  }

}


